{% extends "_layouts/base.html" %}

{% block content %}
<div id="content-wrapper">
    <div id="main-content" class="{% block main_content_class %}{% endblock main_content_class %}">
        {% block main_content %}{% endblock main_content %}
    </div>

    <div id="right-sidebar" class="{% block right_sidebar_class %}{% endblock right_sidebar_class %}">
        {% block right_sidebar_extras %}{% endblock right_sidebar_extras %}
        {% block right_sidebar %}{% endblock right_sidebar %}
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{{ STATIC_URL }}td_biblio/javascripts/td_biblio.js"></script>
{% endblock javascripts %}
