{% extends "_layouts/base.html" %}

{% block content %}
<div id="content-wrapper">
    <div id="left-sidebar" class="{% block left_sidebar_class %}{% endblock left_sidebar_class %}">
        {% block left_sidebar_extras %}{% endblock left_sidebar_extras %}
        {% block left_sidebar %}{% endblock left_sidebar %}
    </div>

    <div id="main-content" class="{% block main_content_class %}{% endblock main_content_class %}">
        {% block main_content %}{% endblock main_content %}
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{{ STATIC_URL }}td_biblio/javascripts/td_biblio.js"></script>
{% endblock javascripts %}
